/* @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Karla:ital,wght@1,600&display=swap'); */

@keyframes backgroundColors {
  0% {
    background-color: #379541;  
  }

  12.5% {
    background-color: #009a91;  
  }

  25% {
    background-color: #aa73ce;  
  }

  37.5% {
    background-color: #d86177;  
  }

  50% {
    background-color: #cf6c43;
  }

  62.5% {
    background-color: #d86177;  
  }

  75% {
    background-color: #aa73ce;  
  }

  87.5% {
    background-color: #009a91;  
  }

  100% {
    background-color: #379541;  
  }
}

@keyframes textColors {
  0% {
    color: #379541;  
  }

  12.5% {
    color: #009a91;  
  }

  25% {
    color: #aa73ce;  
  }

  37.5% {
    color: #d86177;  
  }

  50% {
    color: #cf6c43;
  }

  62.5% {
    color: #d86177;  
  }

  75% {
    color: #aa73ce;  
  }

  87.5% {
    color: #009a91;  
  }

  100% {
    color: #379541;  
  }
}

@keyframes borderBottomColors {
  0% {
    border-bottom-color: #379541;  
  }

  12.5% {
    border-bottom-color: #009a91;  
  }

  25% {
    border-bottom-color: #aa73ce;  
  }

  37.5% {
    border-bottom-color: #d86177;  
  }

  50% {
    border-bottom-color: #cf6c43;
  }

  62.5% {
    border-bottom-color: #d86177;  
  }

  75% {
    border-bottom-color: #aa73ce;  
  }

  87.5% {
    border-bottom-color: #009a91;  
  }

  100% {
    border-bottom-color: #379541;  
  }
}

::-moz-selection {
  color: #fff;
  background: #379541;
}

::selection {
  color: #fff;
  background: #379541;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Karla, 'Franklin Gothic Medium', sans-serif;
  font-weight: 600;
  font-style: italic;
  line-height: 1.2;
}

h1 {
  font-size: 32pt;
  letter-spacing: -1px;
}

tt, code, pre {
  font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: max-content;
    background: #111; /* bg */
    color: #c4c4c4; /* fg */
    font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-size: 11pt; */
    cursor: default;
    line-height: 1.55;
}

.cell {
  padding: 20px;
}

.cell > ul {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #379541;
  animation-name: borderBottomColors;
  cursor: pointer;
}

a:hover {
  color: #fff; /* bright */
  border-bottom-color: #fff !important; /* bright */
}

.sc {
  font-size: smaller;
}

.me {

}

#me-img {
  background: #379541;
  animation-name: backgroundColors;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #379541;
  animation-name: textColors;
}

#me-img, h1, h2, h3, h4, h5, h6, a {
  animation-duration: 45s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-delay: 1s;
  animation-iteration-count: Infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

.about {
  font-size: 11pt;
}

.about p {
  margin-bottom: 6pt;
}

.email {
  width: 237px;
  height: 20px;
  background-image: url("images/email-c4c4c4.svg");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

.updates {
  display: grid;
  grid-template-columns: auto auto;
  line-height: 1.3;
  background-color: #222; /* bg-bright */
}

.updates > * {
    margin-bottom: 10px;
    margin-right: 10px;
}

.updates a {
  border-bottom: none;
}

.update .date {
  white-space: nowrap;
  padding-left: 12px;
  color: #777; /* dim */
}

.updates .more {
  font-style: italic;
  animation-name: textColors;
}

.updates .more:hover {
  color: #fff !important; /* bright */
}

.links {
  grid-template-columns: auto auto;
  display: grid;
  grid-gap: 8px;
  margin: 20px 0;
  line-height: 18px;
  vertical-align: middle;
  max-width: 300px;
}

.links a {
  border-bottom: none;
  padding-left: 20px;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

.instagram {
  background-image: url("images/instagram-c4c4c4.svg");
}

.instagram:hover {
  background-image: url("images/instagram-ffffff.svg");
}

.cell > ul, .cell > ol {
  list-style-type: none;
  padding: 0;
}

.cell ul ul ul, .cell ol ul ul {
  list-style-type: disc;
}

.work ul ul ul, .education ul ul ul {
  font-size: smaller;
  color: #777; /* dim */
}

.work ul ul ul a, .education ul ul ul a {
  border-bottom-color: #777 !important; /* dim */
}

.work ul ul ul a:hover, .education ul ul ul a:hover {
  border-bottom-color: #fff !important; /* bright */
}

.school  {
  font-style: italic;
}

.semesters {
  list-style-type: none;
  padding-inline: unset;
}

.semesters li {
  display: inline;
  padding-right: 2px;
  color: #777; /* dim */
}

.semesters li a {
  color: #c4c4c4; /* fg */
}

footer {
  color: #777; /* dim */
  text-align: center;
}

@media screen and (min-width: 1000px) {
  body {
    grid-template-columns: 12.5% auto 12.5% auto;
  }

  h1 {
    font-size: 28pt;
  }

  .cell {

  }

  .me {
    grid-row: 1;
    grid-column: 1;
  }
  
  .greeting {
    grid-row: 1;
    grid-column: 2;
  }

  .contact-heading {
    grid-column: 3;
  }

  .contact {
    grid-column: 4;
  }

  .updates {
    grid-column: span 4;
  }

  footer {
    grid-column: span 4;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  body {
    grid-template-columns: 33% auto;
  }

  h1 {
    font-size: 26pt;
  }

  .me {
    grid-row: 1;
    grid-column: 1;
  }

  .greeting {
    grid-row: 1;
    grid-column: 2;
  }

  .updates {
    /* grid-row: 1; */
  }

  .updates, footer {
    grid-column: span 2;
  }
}

@media screen and (max-width: 500px) {
  body {

  }

  h1 {
    font-size: 24pt;
  }

  .me {

  }

  .greeting {

  }

  .updates, footer {

  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ededed; /* anti-bg */
    color: #333; /* anti-fg */
  }

  a:hover {
    color: #000; /* anti-bright */
    border-bottom-color: #000 !important; /* anti-bright */
  }

  .email {
    background-image: url("images/email-333333.svg");
  }

  .updates {
    background-color: #f3f3f3; /* anti-bg-bright */
  }

  .update .date {
    color: #999; /* anti-dim */
  }

  .instagram {
    background-image: url("images/instagram-333333.svg");
  }

  .instagram:hover {
    background-image: url("images/instagram-000000.svg");
  }

  .semesters li {
    color: #999; /* anti-dim */
  }

  .semesters li a {
    color: #333; /* anti-fg */
  }

  .work ul ul ul, .education ul ul ul {
    color: #777; /* anti-dim */
  }

  .work ul ul ul a, .education ul ul ul a {
    border-bottom-color: #999 !important; /* anti-dim */
  }

  .work ul ul ul a:hover, .education ul ul ul a:hover {
    border-bottom-color: #000 !important; /* anti-bright */
  }

  footer {
    color: #999 !important; /* anti-dim */
  }
}
